/* header -  start */

.site-header {
  background-color: transparent;
  position: fixed;
  width: 100%;
}

.container {
  max-width: 1448px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 32px 0 0px;
}

.favorite-user {
  display: flex;
  align-items: center;
  max-width: 118px;
  gap: 34px;
  text-decoration: none;
}

.favorite-user a:focus,
.favorite-user .favorite:focus,
.favorite-user .user:focus {
  outline: none;
}

.favorite:hover,
.user:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
}

.main-navigation {
  max-width: 382px;
}

.main-navigation ul {
  max-width: 382px;
  justify-content: space-between;
}

.main-navigation ul li a {
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.24px;
  letter-spacing: 0%;
  color: #ffffff;
  outline: none;
}

.main-navigation ul li a:hover,
.main-navigation ul li a:focus {
  transform: scale(1.1);
  transition: ease 0.3s;
  color: #181818;
}

/* burger menu */

.menu-icon {
  font-size: 35px;
  color: lemonchiffon;
  cursor: pointer;
}

.humburger-menu {
  display: none;
}

#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ .sidebar {
  left: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: -250px;
  top: 0;
  background-color: #666666;
  width: 250px;
  height: 100%;
  transition: all ease 0.3s;
}

.sidebar ul {
  margin: 0;
  padding: 40px 20px;
  list-style: none;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 60px;
  color: lemonchiffon;
  outline: none;
  display: inline-block;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus {
  transform: scale(1.1);
  transition: ease 0.3s;
  color: #000000;
}

.sidebar-logo {
  margin: 80px auto 0;
  width: 60px;
}

/* hero-section-1 */

.hero-section-1 { 
  overflow: hidden;
}

.hero-section-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.hero-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 779px;
}

.hero-title {
  font-family: "Open Sans", serif;
  font-weight: 800;
  font-size: 75px;
  line-height: 102.14px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 57px;
}

.hero-text {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  text-align: center;
  color: #ffffff;
  max-width: 568px;
  margin: 0 auto 39px;
}

.hero-button {
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.68px;
  text-align: center;
  padding: 14px 24px;
  background-color: #00a651;
  border-radius: 10px;
  text-decoration: none;
}

.hero-content .hero-button {
  color: #ffffff;
}

.hero-button:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
}

@media screen and (max-width: 1023px) {
  /* header */
  .container {
    padding: 20px 20px 300px;
  }

  .main-navigation ul li a {
    font-size: 17px;
  }

  .favorite,
  .user {
    width: 40px;
  }
}

@media screen and (max-width: 767px) {
  #site-navigation {
    display: none;
  }

  .humburger-menu {
    display: inline-block;
  }

  .favorite-user {
    gap: 50px;
  }

  .site-branding img {
    width: 50px;
  }
}
